include ../constants/index
include ../mixins/Svg/index
include ../mixins/Header/index
include ../mixins/BernierTitle/index
include ../mixins/CircleDiagram/index

doctype html
html
  head
    meta(charset="utf-8")
    block title
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    block scripts
    link(rel='stylesheet' href='./style.css')
    link(rel="shortcut icon" href="/static/images/fav_mount.png" type="image/png")
    script(src='/app/index.js' defer)

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    block content

    div.main-menu
      div.main-menu__svg-container
        +Svg(ICON_TYPES.close)
      div.main-menu__left
      div.main-menu__right
      div.main-menu__link-container
        each item in LinksArray
          a.main-menu__link(href= item.link)
            +BernierTitle('big', item.name, 'hasPseudo', 'white')

    div.preloader
      div.preloader__spinner
        div.preloader__animation
        div.preloader__percents 0%