@media only screen and (min-width: 1920px) {
  .parallax__layer {
    background-size: cover;
  }
}

@media only screen and (max-width: 1200px) {
  .parallax {
    display: none;
  }

  .main {
    background: url('/static/images/main-backGround.jpg') no-repeat center center;
    background-size: cover;
  }
}

@media only screen and (max-width: 1780px) {
  .about__left {
    @include flex(center, flex-start, column, nowrap);
  }

  .about__left__content {
    margin-left: 0;
  }

  .about__left__main-title {
    margin: 40px 0;
  }

  .about__right__main-title {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .parallax {
    display: none;
  }

  .main {
    background: url('/static/images/main-backGround.jpg') no-repeat center center;
    background-size: cover;
  }

  .reviews,
  .form__blur-bg {
    background: url('/static/images/lake_bg.png') no-repeat;
  }

}

@media only screen and (max-width: 960px) {
  .hero__info {
    padding: 20px;
  }

  .hero__name {
    font-size: 22px;
  }

  .hero__description {
    font-size: 14px;
  }

  .hero__link {
    padding: 15px;
  }

  .about__left__main-title h2 {
    font-size: 35px;
  }

  .about__left__main-title svg {
    width: 280px;
    height: 100px;
    left: -30px;
  }

  .about__right__main-title h2 {
    font-size: 22px;
  }

  .about__right__main-title h2:before {
    margin-right: 10px;
  }

  .about__right__main-title h2:after {
    margin-left: 10px;
  }

  .about__right__svg-container > svg {
    fill: $light-beige;
  }

  .about__content {
    @include flex(flex-start, flex-start, column, nowrap);
  }

  .about__left,
  .about__right {
    width: 100%;
    padding: 0 20px;
  }

  .about__left__p-text {
    font-size: 14px;
  }

  .skills__container,
  .skills {
    align-items: center;
  }

  .skills__diagrams {
    justify-content: center;
  }

  .skills__diagram-container {
    margin: 10px;
  }

  .map__contacts {
    padding: 20px;
    width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .contact__label {
    font-size: 14px;
  }

  .map {
    height: 1000px;
  }

  .footer__top,
  .footer__bottom {
    padding: 20px;
    @include flex(center, flex-start, column, nowrap);
  }

  .footer-menu {
    margin-bottom: 30px;
  }

  .footer__description {
    text-align: center;
    margin-bottom: 30px;
  }

  .works__title h2 {
    font-size: 35px;
  }

  .works__title svg {
    width: 300px;
    height: 160px;
    left: 5px;
    top: -70px;
  }

  .works__title-container {
    height: 110px;
  }

  .works__left-triangle,
  .works__right-triangle {
    top: -70px;
  }

  .slider__main-image {
    height: 40vh;
  }

  .slider__sides {
    height: 20vh;
  }

  .slider__left {
    width: 100%;
    flex: 0 0 auto;
    padding: 20px;
  }

  .slider__title h2 {
    font-size: 26px;
  }

  .slider__skills {
    width: 100%;
    max-width: 420px;
    margin: 10px;
  }

  .slider__link {
    padding: 10px;
  }

  .slider__link-text {
    font-size: 14px;
  }

  .reviews {
    padding: 50px 20px 20px;
  }

  .reviews__title h2 {
    font-size: 32px;
  }

  .reviews__title svg {
    width: 100%;
    height: 110px;
    left: 5px;
  }

  .reviews__container {
    margin-top: 30px;
    justify-content: center;
  }

  .review {
    margin: 0;
  }

  .review > svg {
    align-self: center;
    width: 40px;
    height: 40px;
  }

  .form {
    width: 100%;
    max-width: 380px;
    background-size: cover;
  }

  .form__title h2 {
    font-size: 22px;
  }

  .form__submit,
  .form__clear {
    height: 50px;
  }

  .form__submit:hover,
  .form__clear:hover {
    background-color: $light-green;
  }

  .main-menu__link h2 {
    color: rgba($white, 1);
    line-height: 2;
    font-size: 35px;
  }

  .main-menu__link-container {
    min-height: 210px;
  }
}