$white: #fff;
$footer-black: #373e42;
$text-dark: #455a64;
$beige: #efebe0;
$light-beige: #f0efe9;
$dark-beige: #f9f8f1;
$super-dark-beige: #efeee9;
$slider-dark-beige: #edeae1;
$light-green: #00bfa5;
$light-green-hover: #009688;
$light-gray: #f9f9f9;
$red: #e44845;
$paralax-bg: #dbdbd3;

$circle-gray: #dfdcd5;
$circle-green: #1bb696;

$bernier-dark: #373e42;
$bernier-darkBlue: #455a64;
$bernier-big: 63px;
$bernier-small: 35px;
$bernier-dark-svg: #e5e4df;

@mixin flex
(
  $align: flex-start,
  $justify: flex-start,
  $direction: row,
  $wrap: wrap
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin button
(
  $width,
  $height,
  $backgroundColor,
  $border: none,
  $borderRadius: 0,
  $color: $white,
  $fontSize: 14px,
  $cursor: pointer,
  $shrink: 0,
  $grow: 0
) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
  font-size: $fontSize;
  border: $border;
  border-radius: $borderRadius;
  color: $color;
  cursor: $cursor;
  flex-shrink: $shrink;
  flex-grow: $grow;
  outline: none;
  transition: all 0.5s;
}

@mixin text
(
  $line-height,
  $color: $white,
  $size: 14px,
  $weight: 500,
  $textAlign: center
) {
  line-height: $line-height;
  font-size: $size;
  color: $color;
  font-weight: $weight;
  text-align: $textAlign;
}

@mixin svg
(
  $fill,
  $width: 100%,
  $height: 100%
) {
  fill: $fill;
  width: $width;
  height: $height;
  transition: all 0.5s;
}