mixin Svg(icon)
  if icon === ICON_TYPES.vk
    include ../../Icons/vk.svg
  if icon === ICON_TYPES.github
    include ../../Icons/github.svg
  if icon === ICON_TYPES.roundVk
    include ../../Icons/vk_round.svg
  if icon === ICON_TYPES.roundGithub
    include ../../Icons/github_round.svg
  if icon === ICON_TYPES.burger
    include ../../Icons/hamburger.svg
  if icon === ICON_TYPES.portfolioHeader
    include ../../Icons/portfolio_header.svg
  if icon === ICON_TYPES.blogHeader
    include ../../Icons/blog_header.svg
  if icon === ICON_TYPES.arrowDown
    include ../../Icons/arrow_down.svg
  if icon === ICON_TYPES.aboutBgLeft
    include ../../Icons/about_bg_left.svg
  if icon === ICON_TYPES.aboutBgRight
    include ../../Icons/about_bg_right.svg
  if icon === ICON_TYPES.aboutHeader
    include ../../Icons/about_header.svg
  if icon === ICON_TYPES.skype
    include ../../Icons/skype.svg
  if icon === ICON_TYPES.mail
    include ../../Icons/envelope.svg
  if icon === ICON_TYPES.phone
    include ../../Icons/phone.svg
  if icon === ICON_TYPES.address
    include ../../Icons/map_marker.svg
  if icon === ICON_TYPES.worksHeader
    include ../../Icons/works_header.svg
  if icon === ICON_TYPES.link
    include ../../Icons/link.svg
  if icon === ICON_TYPES.worksAbout
    include ../../Icons/works_about.svg
  if icon === ICON_TYPES.quote
    include ../../Icons/quote.svg
  if icon === ICON_TYPES.close
    include ../../Icons/close.svg