mixin Header(icon, blog, name, description)
  header(class='header ' + blog)
    div.header__shadow-container
      include ../../HeaderTop/index
      div(class='header__content ' + blog)
        +svg(icon)
        div.header__hero
          div.header__hero__avatar
          h1(class='header__hero__name ' + blog)= name
          h3(class='header__hero__description ' + blog)= description
          if !blog
            div.arrow-down
              +svg(ICON_TYPES.arrowDown)