mixin svg(icon)
  if icon === ICON_TYPES.vk
    include ../Icons/vk.svg
  if icon === ICON_TYPES.github
    include ../Icons/github.svg
  if icon === ICON_TYPES.roundVk
    include ../Icons/vk_round.svg
  if icon === ICON_TYPES.roundGithub
    include ../Icons/github_round.svg
  if icon === ICON_TYPES.burger
    include ../Icons/hamburger.svg
  if icon === ICON_TYPES.portfolioHeader
    include ../Icons/portfolio_header.svg
  if icon === ICON_TYPES.blogHeader
    include ../Icons/blog_header.svg
  if icon === ICON_TYPES.arrowDown
    include ../Icons/arrow_down.svg