div.header-top
  div.header-top__icons
    ul.header-top-icons
      each item in IconsArray
        li.header-top-icons__item
          a.header-top-icons__item__link(href= item.link target="_blank")
            +Svg(item.icon)
  div.header-top__menu-btn
    +Svg(ICON_TYPES.burger)
