$border-radius: 5px;

.form {
  @include flex(center, flex-start, column, nowrap);
  width: 380px;
  height: 437px;
  background: url('/static/images/works-form-blur.png') no-repeat center 0;
  background-size: contain;
  border-radius: 5px;
}

.form__content {
  @include flex(center, flex-start, column, nowrap);
  padding: 20px;
  width: 100%;
  flex-grow: 1;
}

.form__title {
  margin-bottom: 10px;
  width: 100%;
}

.form__title h2 {
  text-align: center;
}

.form__validate-text {
  @include flex(center, center);
  @include text(1, $red, 12px);
  height: 20px;
  margin-bottom: 10px;
}

.form__inputs {
  @include flex(center, flex-start, column, nowrap);
  width: 100%;
  flex-grow: 1;
}

.form__name-input,
.form__mail-input,
.form__comment-input {
  width: 100%;
  background-color: $white;
  height: 45px;
  margin-bottom: 20px;
  border-radius: $border-radius;
  padding: 0 20px;
  outline: none;
  border: none;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: none;
}

.form__comment-input {
  height: auto;
  flex-grow: 1;
  padding: 15px 20px;
  resize: none;
  margin-bottom: 0;
}

.form__name-input:focus,
.form__mail-input:focus,
.form__comment-input:focus {
  background-color: $white;
  border: solid 2px $light-green;
  outline: none;
}

.errorBox {
  border: 1px solid $red;
  box-shadow: 0 0 3px $red;
  background-color: $white;
}

.form__buttons {
  @include flex(stretch);
  width: 100%;
  margin-top: auto;
}

.form__submit,
.form__clear {
  @include button(50%, 70px, $light-green);
}

.form__submit:hover,
.form__clear:hover {
  background-color: $light-green-hover;
}

.form__submit {
  border-bottom-left-radius: $border-radius;
  border-right: 1px solid rgba($white, 0.7);
}
.form__clear {
  border-bottom-right-radius: $border-radius;
}

.form__message-to-show {
  width: 100%;
  padding: 20px;
  margin-top: auto;
}

.form__message-to-show h2 {
  text-align: center;
  font-size: 26px;
}