extends ../components/templates/Head

block title
  title About - R.Fateev

block content
  +Header(ICON_TYPES.portfolioHeader, '', 'Руслан Фатеев', 'Личный сайт веб разработчика')
  include ../components/Footer/index