extends ../components/templates/Head

block title
  title About - R.Fateev

block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChz-R3zF1RQTct0VvR8qvg0GDRH_YBVIA&extension=.js")
  script(src="https://cdn.mapkit.io/v1/infobox.js")
  script(src="/app/googleMap.js")
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet")
  link(href="https://cdn.mapkit.io/v1/infobox.css" rel="stylesheet")

block content
  +Header(ICON_TYPES.portfolioHeader, '', 'Руслан Фатеев', 'Личный сайт веб разработчика')

  main
    div.about
      div.about__triangles
        div.about__left__svg-container
          +Svg(ICON_TYPES.aboutBgLeft)
        div.about__right__svg-container
          +Svg(ICON_TYPES.aboutBgRight)
      div.about__content
        div.about__left
          div.about__left__main-title
            +BernierTitle('big', 'Обо мне', 'hasPseudo', 'dark', ICON_TYPES.aboutHeader)
          div.about__left__content
            div.about__left__avatar
            div.about__left__title
              +BernierTitle('small', 'Кто я', 'hasPseudo', 'darkBlue')
            p.about__left__p-text Я веб разработчик из Москвы. Мне 23 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
            p.about__left__p-text Этот сайт я сделал во время обучения в Школе онлайн образования LoftSchool. Здесь я предлагаю читателю ознакомиться с моими работами, а так же информацией обо мне.
        div.about__right
          div.about__right__main-title
            +BernierTitle('small', 'Чем я могу быть вам полезен', 'hasPseudo', 'darkBlue')
          p.about__right__p-text Мое основное направление - Frontend разработка. Ниже наглядно представлены мои умения.
          div.skills
            each item in SkillsArray
              div.skills__container
                h4.skills__name= item.group
                div.skills__diagrams
                  each skill in item.skills
                      div.skills__diagram-container
                        +CircleDiagram(skill.value, skill.name)
    div.map
      div#mapkit
      div.map__contacts
        +BernierTitle('small', 'Контакты', 'hasPseudo', 'dark')
        div.map__contacts__container
          each item in ContactsArray
            div.contact
              +Svg(item.icon)
              span.contact__label= item.label

  include ../components/Footer/index