extends components/templates/Head

block title
  title Portfolio - R.Fateev

block content
  main.main
    div.parallax
      while layer <= layers
        div(class='parallax__layer parallax__layer-' + layer)
        - layer++
    div.main__content
      include components/HeroBlock/index
      p.main__made-by © Руслан Фатеев | LoftSchool | 2017
