extends components/templates/Head

block title
  title Portfolio - R.Fateev

block content
  main.main
    div.main__content
      button.main__auth Авторизироваться
      include components/HeroBlock/index
      p.main__made-by © Руслан Фатеев | LoftSchool | 2017
