@import "global_styles/index";
@import "components/HeroBlock/style";

.main {
  background-color: $paralax-bg;
  width: 100%;
  height: 100%;
  position: relative;
}

.parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.parallax__layer {
  width: 110%;
  height: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  background-position-y: 50%;
}

@for $i from 1 through 10 {
  .parallax__layer-#{$i} {
    background-image: url('/static/images/layer_#{$i}.png');
  }
}

.main__content {
  @include flex(center, flex-start, column, nowrap);
  width: 100%;
  height: 100%;
  position: relative;
}

.main__made-by {
  @include text(6.19, rgba($white, 0.7), 14px, 300);
  margin-top: auto;
}

@import "global_styles/media";