-
  var ICON_TYPES = {
    vk: 'vk',
    github: 'github',
    roundVk: 'roundVk',
    roundGithub: 'roundGithub',
    burger: 'burger',
    portfolioHeader: 'portfolioHeader',
    blogHeader: 'blogHeader',
    arrowDown: 'arrowDown'
  }

  var LINKS_TYPES = {
    projects: {
      name: 'Мои работы',
      label: 'projects',
      link: '/projects/index.html'
    },
    about: {
      name: 'Обо мне',
      label: 'about',
      link: '/about/index.html'
    },
    blog: {
      name: 'Блог',
      label: 'blog',
      link: '/blog/index.html'
    },
    auth: {
      name: 'Авторизация',
      label: 'auth',
      link: '/index.html'
    }
  }

  var IconsArray = [
    {
      icon: ICON_TYPES.vk,
      link: 'http://vk.com/upack'
    },
    {
      icon: ICON_TYPES.github,
      link: 'https://github.com/Ble3k/portfolio'
    }
  ]

  var LinksArray = [ LINKS_TYPES.projects, LINKS_TYPES.about, LINKS_TYPES.blog, LINKS_TYPES.auth ]