-
  var ICON_TYPES = {
    vk: 'vk',
    github: 'github',
    roundVk: 'roundVk',
    roundGithub: 'roundGithub',
    burger: 'burger',
    portfolioHeader: 'portfolioHeader',
    blogHeader: 'blogHeader',
    arrowDown: 'arrowDown',
    aboutBgLeft: 'aboutBgLeft',
    aboutBgRight: 'aboutBgRight',
    aboutHeader: 'aboutHeader',
    skype: 'skype',
    mail: 'mail',
    phone: 'phone',
    address: 'address',
    worksHeader: 'worksHeader',
    link: 'link',
    worksAbout: 'worksAbout',
    quote: 'quote',
    close: 'close'
  }

  var LINKS_TYPES = {
    projects: {
      name: 'Мои работы',
      label: 'projects',
      link: '/projects/index.html'
    },
    about: {
      name: 'Обо мне',
      label: 'about',
      link: '/about/index.html'
    },
    auth: {
      name: 'Главная',
      label: 'auth',
      link: '/index.html'
    }
  }

  var IconsArray = [
    {
      icon: ICON_TYPES.vk,
      link: 'http://vk.com/upack'
    },
    {
      icon: ICON_TYPES.github,
      link: 'https://github.com/Ble3k'
    }
  ]

  var LinksArray = [ LINKS_TYPES.projects, LINKS_TYPES.about, LINKS_TYPES.auth ]

  var SkillsArray = [
    {
      group: 'Frontend',
      skills: [
        {
          name: 'HTML5',
          value: 75
        },
        {
          name: 'CSS3',
          value: 85
        },
        {
          name: 'JavaScript',
          value: 50
        },
        {
          name: 'jQuery',
          value: 78
        },
        {
          name: 'React.js',
          value: 90
        },
        {
          name: 'Redux',
          value: 60
        }
      ]
    },
    {
      group: 'Workflow',
      skills: [
        {
          name: 'Git',
          value: 40
        },
        {
          name: 'Gulp',
          value: 90
        },
        {
          name: 'Webpack',
          value: 50
        },
        {
          name: 'Bower/Npm',
          value: 90
        },
        {
          name: 'Jira',
          value: 70
        }
      ]
    },
    {
      group: 'Page layout',
      skills: [
        {
          name: 'Adaptive',
          value: 80
        },
        {
          name: 'Responsive',
          value: 90
        },
        {
          name: 'Cross-Browser',
          value: 70
        },
        {
          name: 'Flexbox',
          value: 99
        }
      ]
    }
  ]

  var ContactsArray = [
    {
      icon: ICON_TYPES.skype,
      label: 'kartmantm'
    },
    {
      icon: ICON_TYPES.mail,
      label: 'rufateev@gmail.com'
    },
    {
      icon: ICON_TYPES.phone,
      label: '+7 968 923 60 89'
    },
    {
      icon: ICON_TYPES.address,
      label: 'г. Москва, ул. 3-я институтская, д. 17'
    }
  ]

  var ReviewsArray = [
    {
      author: {
        name: 'Ковальчук Дмитрий',
        position: 'основатель Loftschool',
        avatar: '/static/images/dmitriy.png'
      },
      review: 'Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!'
    },
    {
      author: {
        name: 'Сабанцев Владимир',
        position: 'преподаватель',
        avatar: '/static/images/vladimir.png'
      },
      review: 'Отличный ученик, показал способность мыслить нестандартно, все ТЗ выполнено в срок! Этот код выдержит любые испытания, отличная работа!'
    }
  ]

  var InputsArr = [
    {
      name: 'name',
      className: 'name-input',
      type: 'text',
      required: true,
      placeholder: 'Имя'
    },
    {
      name: 'email',
      className: 'mail-input',
      type: 'text',
      required: true,
      placeholder: 'Email'
    },
    {
      name: 'comment',
      className: 'comment-input',
      type: 'text',
      required: true,
      textarea: true,
      placeholder: 'Ваше сообщение'
    }
  ]

  var layers = 10
  var layer = 1
